.demoBody {
    background-color: black;

}
.siteLinks {
    color: white;
    font-size: 11px;

}
.statement {
    color: white;
    font-size: 9x;

}
.footButton{
    --sds-c-button-text-color: white;

}